:root {
    --color: hsl(0, 0%, 15%);
    --bg-color: #e0e0e0;
    --block-bg-color: #fff;

    --odd-color: hsl(0, 0%, 95%);
    --dd-color: #c1dcf0;
    --td-color: #f7b125;
    --qd-color: #724c9f;
    --pd-color: #008348;

    --winning: #00aa00;
    --losing: #ff0000;
}

body {
    color: var(--color);
    background-color: var(--bg-color);
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    padding: 0;
    margin: 0;
}

body.short .short-hide {
    display: none;
}

/* util */
.dark {
    --color: hsl(0, 0%, 95%);
    --bg-color: hsl(0, 0%, 40%);
    --block-bg-color: hsl(0, 0%, 17%);

    --odd-color: hsl(0, 0%, 25%);
    --dd-color: #4c4ca6;
    --td-color: #f19132;
    --qd-color: #724c9f;
    --pd-color: #008348;

    --winning: #00ee00;
}

.hidden {
    display: none !important;
}

table {
    border: none;
    border-collapse: collapse;
    border-spacing: 0;
}

th {
    background-color: #046fdb;
    color: #fff;
    font-weight: 700;
}

tr th:first-child,
tr td:first-child {
    min-width: 185px;
    border-right: 1px solid hsl(0, 0%, 70%);
}

th,
td {
    text-align: center;
    min-width: 67px;
    height: 1.5em;
}

tr:nth-child(even) {
    background-color: var(--odd-color);
}

[winning] {
    color: var(--winning);
}

[losing] {
    color: var(--losing);
}

/* Content */
#content {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 8px 0px;
    background-color: var(--block-bg-color);
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}

/* Header */
.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
    height: 100px;
}

.text-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    display: flex;
}

.header-team {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    font-size: 20px;
}

#header-score {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 2;

    font-size: 25px;
    font-weight: bold;
}

#match {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

/* Player stats */
.tip span {
    padding: 0 10px;
}

[dd] {
    background-color: var(--dd-color);
}

[td] {
    background-color: var(--td-color);
}

[qd] {
    background-color: var(--qd-color);
}

[pd] {
    background-color: var(--pd-color);
}

tr td:first-child span {
    font-size: 12px;
    color: hsl(0, 0%, 50%);
}

.player-stats tr td:first-child {
    text-align: left;
}

/* team stats */
#team-stats th:not(:first-child) {
    min-width: 75px;
}

/* advanced */
#advanced-stats th:not(:first-child) {
    min-width: 180px;
}

#advanced-extra-stats th {
    width: 150px;
}
